.divider {
  /*noinspection CssUnresolvedCustomProperty*/
  border-bottom: 1px solid var(--color-border-faint);
}

input.filter[type=checkbox] + label:before,
input.filter[type=radio] + label:before {
  top: 0 !important;
  height: 18px !important;
  width: 18px !important;
}

input.filter[type=checkbox] + label:after {
  height: 12px !important;
  left: 0.3rem !important;
  top: 0.5rem !important;
  width: 12px !important;
  background-size: 20px !important;
}